body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header,
.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}


.links {
    display: flex;
    margin-top: 0px;
    justify-content: right;
    gap: 16px;
    margin-bottom: 48px;
}

.logo {
    display: flex;
    font-size: 24px;
    margin-bottom: 48px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.links,
.secondary-text {
    display: flex;
    font-size: 18px;
    
}

.header {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 460px;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 460px;
}

.header-image {
    height: 240px;
    width: auto;
    object-fit: fill;
    margin-top: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.sign-up {
    justify-content: left;
    background-color: #3882F6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 370px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 48px;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

.information-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.information-image1,
.information-image2,
.information-image3,
.information-image4 {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 10px;
}

.information-item1,
.information-item2,
.information-item3,
.information-item4 {
    width: 150px;
}

.quote {
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.quote-main-text {
    font-size: 36px;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: right;
    font-weight: 600;
    font-size: 22px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.call-to-action-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    color: white;
}

.call-to-action-text {
    padding-right: 60px;
}

.call-to-action-header {
    font-size: 22px;
}

.call-to-action-sub-text {
    font-size: 16px;
}

.call-to-action-sign-up {
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 48px;
    margin-top: auto;
    border-style: solid;
    border-width: 2px;
}